html {
  font-family: "Merriweather Sans", sans-serif;
}

h1 {
  color: #fff;
}

header ul {
  text-align: center;
}

header li {
  list-style-type: none;
}

header a {
  color: #a83963;
  display: inline-block;
  text-decoration: none;
  width: 100%;
}

footer a {
  color: #000;
}

a:focus {
  outline: 3px solid red;
}

header a:hover {
  color: #4b7aa5;
}

.cards {
  list-style-type: none;
  text-align: center;
}

.cards img {
  display: block;
  margin: 0 auto 1rem;
}

.cards li {
  display: inline-block;
  background-color: #fff;
  margin: 0 .5em 1em;
  max-width: 15em;
  padding: .5rem;
  border: 3px solid #e2e2e2;
  border-radius: 10px;
  text-align: center;
}

.adopt {
  list-style-type: none;
  text-align: center;
}

.adopt img {
  display: block;
  margin: 0 auto 1rem;
}

.adopt li {
  display: inline-block;
  background-color: #fff;
  margin: 0 .5em 1em;
  max-width: 15em;
  padding: 0;
  border: 3px solid #e2e2e2;
  border-radius: 10px;
  text-align: center;
}

.about-us {
  background-color: #f9c5db;
}

.list {
  background-color: #c81d6a;
}

.about-us .btn {
  border-color: #000;
  color: #000;
}

.donation {
  background-color: #ffcfc2;
}

.donation .btn {
  border-color: #000;
  color: #000;
}

.btn-ghost {
  border-color: #a83963;
  color: #a83963;
}

.btn-ghost:hover {
  border-color: #6aa8e0;
  color: #6aa8e0;
}

footer {
  background-color: #58b94a;
}

footer nav {
  text-align: right;
}

@media only screen and (min-width: 50em) {

  header ul {
    text-align: right;
  }

}
