header ul {
  text-align: center;
}

header li {
  list-style-type: none;
}

header a {
  color: #6aa8e0;
  display: inline-block;
  text-decoration: none;
  width: 100%;
}

header a:hover {
  color: #4b7aa5;
}

.cards {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.cards img {
  display: block;
  margin: 0 auto 1rem;
}

.cards li {
  display: inline-block;
  background-color: #fff;
  margin: 0 .5em 1em;
  max-width: 20em;
  padding: 1em;
  border: 3px solid #e2e2e2;
  border-radius: 10px;
  text-align: center;
}

.about-us {
  background-color: #f9c5db;
}

.list {
  background-color: #c81d6a;
}

footer {
  background-color: #58b94a;
}

footer nav {
  text-align: right;
}

@media only screen and (min-width: 50em) {

  header ul {
    text-align: right;
  }

}
