header ul {
  text-align: center;
}

header li {
  list-style-type: none;
}

header a {
  color: #6aa8e0;
}

header a:hover {
  color: #4b7aa5;
}

@media only screen and (min-width: 50em) {

  header ul {
    text-align: right;
  }

  .logo {
      width: 150px;
  }

}
